body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.sketch-pad {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(176, 30, 30);
    border-radius: 4em;
    padding: 3em;
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 30px;
}

button:hover {
    background-color: yellow;
}

.second {
    display: flex;
    gap: 15px;
    justify-content: right;
    flex: 2;
}

button {
    border-radius: 3em;
    padding: 1em;
}

.container {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin: 0;
    /*set fixed width and height*/
    width: 760px;
    max-width: 760px;
    height: 450px;
    max-height: 450px;
}

.row {
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
}

.squares {
    flex-grow: 1;
}

.active-button {
    background-color: yellow;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items:center;
    margin-top: 20px;
    width: 100%;
    max-height: 100px;
}

p {
    margin-left: 3em;
}

img {
    width: 200px; /* width of container */
    height: 60px; /* height of container */
    object-fit: cover;
    object-position: -30px -45px; /* try 20px 10px */ 
}