body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

button {
    margin-bottom: 20px;
}

div {
    display: flex;
    flex-direction: row;
    border: 1px solid;
    padding: 20px;
}

.container {
    padding: 0;
    border: none;
}

#columns {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}